* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #0b0b0b;
    color: #e5e5e5;
    font-family: "Courier New", monospace;
}


.terminal {
    width: 100vw;
    height: 100vh;
    background: #000;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}


.output {
    height: calc(100vh - 60px);
    overflow-y: auto;
    padding-right: 5px;
}


.output p {
    margin-bottom: 6px;
}

.cmd {
    color: #ffffff;
}

.input-line {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: #000;
}


.prompt {
    margin-right: 6px;
    color: #ffffff;
}

input {
    background: transparent;
    border: none;
    outline: none;
    color: #e5e5e5;
    width: 100%;
    font-size: 16px;
}

@keyframes glitch {
    0% { transform: translate(0); }
    20% { transform: translate(-1px, 1px); }
    40% { transform: translate(1px, -1px); }
    60% { transform: translate(-1px, 0); }
    80% { transform: translate(1px, 1px); }
    100% { transform: translate(0); }
}

.terminal.glitch {
    animation: glitch 0.15s linear;
}

.error {
    color: #ff5555;
}
input::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}
pre {
    color: #06af5b;
    line-height: 1.1;
    margin-bottom: 12px;
}
pre a {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}

